<?php $this->headTitle('Welcome'); ?>
<?php $this->mainMenu()->setActiveItemId('home'); ?>
<?php $this->pageBreadcrumbs()->setItems([ 'Home'=>$this->url('home') ]); ?>

<h1><?= $this->translate('Welcome'); ?></h1>

<p><?= $this->translate('This is the Internationalization &amp; Localization Demo application.'); ?></p>

<p>
	<?= $this->translate('Current language is') ?> <?= $this->escapeHtml($this->languageId); ?>. 
	<?= $this->translate('Select a language using the <em>Language</em> item in the top navigation menu.'); ?>
</p>

<ul>
	<li><?= $this->translate('This page shows the localized feedback form.'); ?></li>
</ul>

